@mixin border-bottom($height,$color) {
    position:relative;

    &::after{
        position: absolute;
        display: block;
        left: 0;
        bottom: 0;
        width: 100%;
        border-top: $height solid $color;
        content: '';
    }
}
  
  
@mixin border-top($height,$color) {
    position:relative;

    &::after{
    position: absolute;
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    border-top: $height solid $color;
    content: '';
    }
}

@mixin rightrow {
    &::after{
        content: "";
        position: absolute;
        right: .16rem;
        top: 50%;
        width: .1rem;
        height: .1rem;
        border-left: 1px solid currentColor;
        border-top: 1px solid currentColor;
        transform: translate3d(0,-50%,0) rotate(135deg);
        color: rgba(0,0,0,.57);
    }
}

